<h1>Sign up</h1>

<form action="/insert_user" method="post">

  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Choose a email..." type="text">
  </div>
                 
  <div>
    <label for="username_box">Username</label>
      
    <input type="text" id="username_box" name="query_username">
  </div>
         
  <div>
    <label for="description_box">Description</label>
    <textarea id="description_box" name="query_description" rows="3"></textarea>
  </div>
         
  <div>
    <label for="time_id_box">Time</label>
      
    <input type="text" id="time_id_box" name="query_time_id">
  </div>
         
  <div>
    <label for="role_id_box">Role</label>
      
    <input type="text" id="role_id_box" name="query_role_id">
  </div>
         
  <div>
    <label for="company_name_box">Company name</label>
      
    <input type="text" id="company_name_box" name="query_company_name">
  </div>
         
  <div>
    <label for="full_name_box">Full name</label>
      
    <input type="text" id="full_name_box" name="query_full_name">
  </div>
    
  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button>
    Sign up
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
